@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table class="table">
        <tbody>
            @foreach (var p in Model.Pubs)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Municipality</td>
                    <td><a class="btn btn-info btn-small" asp-page="./Detail" asp-route-id="@p.Id">Detail</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
